__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/
*.egg-info/
dist/
build/
.venv/
env/
venv/
.idea/
.vscode/
tessdata/*.traineddata
!tessdata/eng.traineddata
!tessdata/hin.traineddata
!tessdata/osd.traineddata
